body, td {
    font-family: sans-serif;
    background-color: #333;
    color: #ddd;
    font-size: 16px;
}

body {
    max-width: 800px;
    margin: auto;
    margin-bottom: 50px;
    line-height: 20px;
}

tt, code, pre {
    font-family: 'DejaVu Sans Mono', 'Droid Sans Mono', 'Lucida Console', Consolas, Monaco, monospace;
}

a {
    color: #ffcd00;
    text-decoration:none;
}
a:hover {
    color: #ffcd00;
    text-decoration: none;
}
h1 {
    font-size: 2.2em;
    line-height: 50px;
}

h2 {
    font-size:1.8em;
}

h3 {
    font-size:1.4em;
}

h4 {
    font-size:1.0em;
}

h5 {
    font-size:0.9em;
}

h6 {
    font-size:0.8em;
}

pre, img {
    max-width: 100%;
}

pre code {
    display: block; padding: 0.5em;
}

code {
    font-size: 92%;
}

table, td, th {
    border: none;
}

blockquote {
    color:#999999;
    margin:0;
    padding-left: 1em;
    border-left: 0.2em #999 solid;
}

hr {
    height: 0px;
    border-bottom: none;
    border-top-width: thin;
    border-top-style: dotted;
    border-top-color: #999999;
}

a:hover .bi-cloud-download:before {
    content: "\F29A";
}
