.navbar {
  background-color: #000;
  padding: 0px;
}

.navbar .navbar-brand {
  padding: 0px;
  color: #FFCD00;
  line-height: 120px;
  height: 120px;
  font-size: 40px;
}

.navbar img {
  height: 100%;
  vertical-align: top;
}

body {
  background-color: #333;
  color: #eee;
}

i {
  color: #FFCD00;
  line-height: 0px;
  font-size: x-large;
}
